@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">SkyVault - Your Cloud Storage Solution</h1>
            <p class="lead">Store and access your files with ease using SkyVault's secure and reliable cloud storage service.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Files" asp-action="Index">Go to your storage!</a>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Secure</h2>
                <p>Your files are securely stored with SkyVault, and are protected by state-of-the-art encryption technology.</p>
            </div>
            <div class="col-md-4">
                <h2>Reliable</h2>
                <p>Our servers are designed to provide you with the highest level of uptime, ensuring that your files are always accessible when you need them.</p>
            </div>
            <div class="col-md-4">
                <h2>Easy to Use</h2>
                <p>Our user-friendly interface makes it easy for you to upload and access your files
            </div>
        </div>
    </div>
</main>